.carlettos-chess-container {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px 0 0px 0;
}

.carlettos-chess-row {
    display: table-row;
    line-height: 0;
    text-align: center;
    height: 50px;
}

.carlettos-chess-square {
    position: relative;
    display: table-cell;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #ccc;
    vertical-align: middle;
    padding-top: 16px;
}

.carlettos-piece {
    position: absolute;
    margin-top: -33px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background-size: cover;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.carlettos-chess-board {
    width: 94%;
    margin: 20px auto;
    width: max-content;
    display: inline-block;
}

.carlettos-movement {
    border-radius: 50%;
    position: absolute;
    margin: -15px 0px 0px 17px;
    width: 15px;
    height: 15px;
}

.carlettos-movement.move {
    background-color: greenyellow;
}

.carlettos-movement.take {
    background-color: salmon;
}

.carlettos-movement.attack {
    background-color: red;
}

.carlettos-movement.take-attack {
    background-color: purple;
}

/* Display of all chess pieces */
.cchess-display {
    overflow-x: scroll;
    width: 100%;
}