.app-logo {
    animation: app-logo-scale infinite 4s linear;
    height: 80px;
    width: 80px;
}

.app-header {
    height: 130px;
    color: #222;
}

.app-title {
    margin: 20px 0 0 0;
    font-size: 24px;
    width: 100%;
    font-weight: 100;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.game-area {
    width: 94%;
    margin: 20px auto;
}

.game-container {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #222;
    font-weight: 300;
    margin: 20px 0 0px 0;
}

.game-of-life {
    display: inline-block;
    width: max-content;
    overflow: hidden;
}

.game-row {
    line-height: 0;
    text-align: center;
}

.game-cell {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
}

.cell-dead {
    background-color: white;
}

.cell-live {
    background-color: black;
}

.game-button {
    width: 100px;
}

@keyframes app-logo-scale {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}